[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://cisticka-devel.liberouter.org/piproxy/tmc/pypi-liberouter/simple"
verify_ssl = false
name = "liberouter-pypi"

[packages]
pyroute2 = "<1.,>=0.6.2"
lbr-trex-client = "*"
stcrestclient = "*"

[dev-packages]
twine = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
pytest = ">=6.1"
pytest-flake8 = "*"
flake8 = "~=3.7.0"

[requires]
python_version = "3.6"
