[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://cisticka-devel.liberouter.org/piproxy/tmc/pypi-liberouter/simple"
verify_ssl = false
name = "liberouter-pypi"

[packages]
pyroute2 = "<1.,>=0.6.2"
lbr-trex-client = "*"
stcrestclient = "*"
pytest = ">=7.0"
pytest-cases = ">=3.6.11"

[dev-packages]
twine = "*"
Sphinx = ">=4.4.0"
sphinx-rtd-theme = "*"
pytest-flake8 = "*"
flake8 = "~=3.7.0"
pytest-instafail = "*"
wheel = "*"
isort = "*"

[requires]
python_version = "3.6"
