[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "liberouter_pypi"
url = "http://cisticka-dev.liberouter.org/piproxy/tmc/pypi-liberouter/simple"
verify_ssl = false

[packages]
pyroute2 = ">=0.6.2,<1.0.0"
lbr-trex-client = "3.4.0.dev311"
stcrestclient = "*"
pytest = ">=7.0"
pytest-cases = ">=3.6.11"
fabric = ">=3.0.0"
faker = "*"
scapy = "*"
matplotlib = "*"
pandas = "*"
python-papi = {version = "7.1.0.0", index="liberouter_pypi"}
psutil = "*"
pyJoules = "*"
plotly = ">=5.24.1"

[dev-packages]
twine = "*"
Sphinx = ">=4.4.0"
sphinx-rtd-theme = "*"
pytest-flake8 = "*"
flake8 = "~=3.7.0"
pytest-instafail = "*"
wheel = "*"
isort = "*"
black = "*"
sphinxcontrib-apidoc = "*"
build = "*"
coverage = "*"

[requires]
python_version = "3.11"
